name: Auto Merge Dependency Updates
on:
  - pull_request_target
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: "holster"

      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            lazy-trees = true

      - name: Set up FlakeHub Cache and local cache
        uses: DeterminateSystems/flakehub-cache-action@main

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Run nix flake check
        run: nix flake check

  auto-merge-dependency-updates:
    needs: check
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    concurrency:
      group: "auto-merge:${{ github.head_ref }}"
      cancel-in-progress: true
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.CI_APP_ID }}
          private-key: ${{ secrets.CI_PRIVATE_KEY }}

      - uses: Mic92/auto-merge@main
        with:
          repo-token: ${{ steps.app-token.outputs.token }}
